<div>
    <button class="btn btn-sm btn-default" onclick="history.go(-1)">
        zurück
    </button>
</div>
<hr>
<h1>F1 Piloten > {{driver.familyName}}</h1>
<p>
    Name: {{driver.givenName}} {{driver.familyName}}
</p>
<p>
    Age: {{getAge driver.dateOfBirth}}
</p>
<p>
    Birthday: {{driver.dateOfBirth}}
</p>
<p>
    Nationality: {{driver.nationality}}
</p>
<p>
    Wiki: <a href="{{driver.url}}" target="_blank" rel="external">{{driver.url}}</a>
</p>
<h2>
    Rennen
</h2>
<table class="table">
    <thead>
        <th>
            Year
        </th>
        <th>
            Races
        </th>
    </thead>
    <tbody>
    {{#each races}}
    <tr>
        <td>
            {{@key}}
        </td>
        <td>
        {{#each this}}
            <div>
                <strong>{{name}}</strong>
                <div>Platzierung: {{ordinal position}}</div>
            </div>
        {{/each}}
         </td>
    </tr>
    {{/each}}
    </tbody>
</table>