<section class="my-3 p-3 bg-white rounded box-shadow mb-4 mt-4">
    <h3 class="border-bottom border-gray pb-3 mb-0 d-flex justify-content-between">
        Drivers &#187; {{driver.familyName}}
        <button class="btn btn-sm btn-default" onclick="history.go(-1)">
            zurück
        </button>
    </h3>
    <div class="info">    
        <p>
            <strong>Name</strong>: {{driver.givenName}} {{driver.familyName}}
        </p>
        <p>
            <strong>Age</strong>: {{getAge driver.dateOfBirth}}
        </p>
        <p>
            <strong>Birthday</strong>: {{driver.dateOfBirth}}
        </p>
        <p>
            <strong>Nationality</strong>: {{driver.nationality}}
        </p>
        <p>
            Wiki:
            <a href="{{driver.url}}" target="_blank" rel="external">{{driver.url}}</a>
        </p>
    </div>
    <h5 class="mt-4">
        Races
    </h5>
    <table class="table">
        <thead>
            <th>
                Year
            </th>
            <th>
                Races
            </th>
        </thead>
        <tbody>
            {{#each races}}
            <tr>
                <td>
                    {{@key}}
                </td>
                <td>
                    {{#each this}}
                    <div>
                        <strong>{{name}}</strong>
                        <div>Finished {{ordinal position}}</div>
                    </div>
                    {{/each}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>