<h2>
    {{name}}
</h2>
<p>
    Birthday: {{dateFormat birthday format="d.m.Y"}}
</p>
<p>
    Website: <a href="{{website}}" target="_blank">{{website}}</a>
</p>
<hr>

<h3>Games</h3>

{{#each games}}
<p>
    <strong>{{name}}</strong>, 
    gegen {{oponent}}
</p>
<table>
    <thead>
        <th>Round</th>
        <th>Color</th>
        <th>Result</th>
    </thead>
    <tbody>
    {{#each rounds}}
    <tr>
        <td>{{id}}</td>
        <td>{{color}}</td>
        <td>{{result}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>
{{/each}}