<h1>F1 Piloten > {{driver.familyName}}</h1>
<div>
    <a href="/drivers">
           zurück
    </a>
</div>
<hr>
<p>
    Name: {{driver.givenName}} {{driver.familyName}}
</p>
<p>
    Birthday: {{driver.dateOfBirth}}
</p>
<p>
    Nationality: {{driver.nationality}}
</p>
<p>
    Wiki: <a href="{{driver.url}}" target="_blank" rel="external">{{driver.url}}</a>
</p>